<!DOCTYPE html>
<html>
<body>

<h2>Currency Converter</h2>

<form action="/convert"  method="get">
    <div>
        <label>base:</label>
        <select id="base" name="base">
            <option value="USD">US dollar (USD)</option>
            <option value="EUR">Euro (EUR)</option>
            <option value="JPY">Japanese yen (JPY)</option>
            <option value="GBP">Pound sterling (GBP)</option>
            <option value="AUD">Australian dollar (AUD)</option>
            <option value="CAD">Canadian dollar (CAD)</option>
            <option value="GBP">Swiss franc (CHF)</option>
            <option value="SEK">Swedish krona (SEK)</option>
            <option value="NZD">New Zealand dollar (NZD)</option>
            <option value="PLN">Polski zloty (PLN)</option>
        </select>
    </div>

    <div>
        <label>To:</label>
        <select id="convertTo" name="convertTo">
            <option value="USD">US dollar (USD)</option>
            <option value="EUR">Euro (EUR)</option>
            <option value="JPY">Japanese yen (JPY)</option>
            <option value="GBP">Pound sterling (GBP)</option>
            <option value="AUD">Australian dollar (AUD)</option>
            <option value="CAD">Canadian dollar (CAD)</option>
            <option value="GBP">Swiss franc (CHF)</option>
            <option value="SEK">Swedish krona (SEK)</option>
            <option value="NZD">New Zealand dollar (NZD)</option>
            <option value="PLN">Polski zloty (PLN)</option>
        </select>
    </div>
    <input type="submit" value="check">
</form>

</body>
</html>
